<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css">
	<link rel="stylesheet" href="dist/css/animate.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.1/css/drawer.min.css">
	<link rel="stylesheet" href="dist/css/style.min.css">
	<title><%= title %></title>
	<meta name="description" content="<%= description %>">
</head>

<body class="drawer drawer--right">
	<!-- header -->
	<header class="header">
		<a href=""><h1 class="header-logo"><img alt="logo" src="dist/img/header-logo.png"></h1></a>
		<button type="button" class="drawer-toggle drawer-hamburger">
			<img src="dist/img/hamburger.svg" alt="hamburger-icon" class="headr-icon">
		</button>
		<nav class="header-nav">
			<ul class="header-list">
				<li class="header-item"><a href="#about" class="js-header-item js-header-item-active ">会社情報</a></li>
				<li class="header-item"><a href="#news" class="js-header-item ">ニュースリリース</a></li>
				<li class="header-item"><a href="#products" class="js-header-item ">事業・製品</a></li>
				<li class="header-item"><a href="#service" class="js-header-item ">サービス</a></li>
				<li class="header-item"><a href="#recruit" class="js-header-item ">採用情報</a></li>
			</ul>
		</nav>
		<nav class="drawer-nav" role="navigation">
			<ul class="drawer-menu">
				<li class="drawer-menu-item"><a href="#about" class="">会社情報</a></li>
				<li class="drawer-menu-item"><a href="#news" class="">ニュースリリース</a></li>
				<li class="drawer-menu-item"><a href="#products" class="">事業・製品</a></li>
				<li class="drawer-menu-item"><a href="#service" class="">サービス</a></li>
				<li class="drawer-menu-item"><a href="#recruit" class="">採用情報</a></li>
			</ul>
		</nav>
	</header> <!-- /header -->