<% var title = 'haniwaman'; %>
<% var description = 'はにわまん模写'; %>
<% include common/_header %>

	<!-- mv -->
	<div class="mv" id="totop">
	</div> <!-- /mv -->

	<!-- card -->
	<section id="card" class="card">
		<h2 class="card-heading">Headline</h2>
		<div class="card-inner">
			<a href="#" class="card-wrap wow slideInLeft">
				<div class="card-img"><img src="dist/img/card.jpg" alt="card-img"></div>
				<h3 class="card-title">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</h3>
			</a>
			<a href="#" class="card-wrap">
				<div class="card-img"><img src="dist/img/card.jpg" alt="card-img"></div>
				<h3 class="card-title">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</h3>
			</a>
			<a href="#" class="card-wrap wow slideInRight">
				<div class="card-img"><img src="dist/img/card.jpg" alt="card-img"></div>
				<h3 class="card-title">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</h3>
			</a>
			<a href="#" class="card-wrap wow slideInLeft">
				<div class="card-img"><img src="dist/img/card.jpg" alt="card-img"></div>
				<h3 class="card-title">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</h3>
			</a>
			<a href="#" class="card-wrap">
				<div class="card-img"><img src="dist/img/card.jpg" alt="card-img"></div>
				<h3 class="card-title">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</h3>
			</a>
			<a href="#" class="card-wrap wow slideInRight">
				<div class="card-img"><img src="dist/img/card.jpg" alt="card-img"></div>
				<h3 class="card-title">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</h3>
			</a>
		</div>
	</section><!-- /card -->

<% include common/_footer %>

