.header {
	background: $cr-m;
	// position: fixed;
	width: 100%;
	@include z-index(header);
	height: $header-height;
	padding: 23px 93px;
	display: flex;
	justify-content: space-between;

	@include mq("tab") {
		padding: 23px 40px;
	}
	@include mq("sp") {
		padding: 10px $pd-sp;
		height: $header-height-sp;
	}

	&-logo {
		width: 200px;
		margin-top: -7px;

		@include mq("sp") {
			width: 160px;
  	  margin-top: 4px;
		}

		&:hover {
			opacity: $opacity;
		}
	}

	.drawer-hamburger {
		display: none;
		top: 0.2%;
		right: 2%!important;
		width: 26px;

		@media (max-width: 767px) {
			display: block;
		}
	}

	&-nav {
		display: block;
		color: $cr-txt-w;
		@include mq("sp") {
			display: none;
		}
	}

	&-list {
		list-style: none;
	}

	&-item {
		display: inline-block;
	}

	&-item + &-item {
		margin-left: 26px;

		@include mq("tab") {
			margin-left: 15px;
		}
	}

	&-item a{
		display: inline-block;
		text-decoration: none;
		border-bottom: 1px solid transparent; //hover時のがたつきをなくす
		transition: all 0.3s ease 0s;

		&:hover {
			border-bottom: 2px solid $cr-txt-w;
		}
	}

	.js-header-item-active {
		border-bottom: 2px solid $cr-txt-w;
	}

	.drawer-nav {
		display: none;
		color:$cr-txt;
		width: 250px; //幅の指定、全画面なら100%
		z-index: 40;
		text-align: center;
		padding: 50px;

    @media (max-width: 767px) {
			display: block;
		}
	}

  .drawer-menu-item{
		position: relative;
		font-size: 1.4rem;
		padding: 1.75rem;

		a {
			text-decoration: none;
			&:hover {
				background: rgba(81, 162, 188, 0.07);
			}
		}
  }
}

.drawer-open {
	.drawer-hamburger{
		right: 25rem!important; //ハンバーガーメニュー表示位置
		position: absolute;
		padding: 15px 1.75rem 30px;

		.header-icon {
			display: none;
		}

		&:before {
			font-family: "Font Awesome 5 Free";
			content: '\f00d';
			font-weight: 900;
			color:$cr-txt-w;
			font-size: 3rem;
		}
	}
  // ヘッダーとロゴが上に表示されるため背景色と非表示へ
	header {
		background-color: rgba(42, 126, 177, 0.77);
		.header-logo,
		.headr-icon {
			display: none;
		}
	}
}

.drawer--right .drawer-nav {
	right: -25rem; //drawer-navの幅のマイナス値
}

.drawer-overlay {
	background-color: rgba(42, 126, 177, 0.77);
}







